Repository GodSpeedAI/VibesPro: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier (format)
  entry: ./scripts/hooks/precommit-node.sh prettier --write --ignore-unknown
  language: script
  require_serial: false

eslint:
  name: eslint (lint)
  entry: ./scripts/hooks/precommit-node.sh eslint --fix --no-warn-ignored
  language: script
  require_serial: false

fix(ci): scope mise cache per runner [DEV-SDS-011]
  .github/workflows/build-matrix.yml
Due: prettier

fix(docs): correct spec-kit video overview anchor [DEV-SPEC-003]
  libs/tools/spec-kit/README.md
Due: none

fix(ci): don\u2019t fail summary on cancelled jobs [DEV-SDS-014]
  .github/workflows/ci.yml
Due: prettier

chore: remove vitest, add test-all/test-e2e recipes, align pnpm 9.15.4
  justfile
  nx.json
  package.json
  pnpm-lock.yaml
  tests/generators/meta-generator.test.ts
  tests/setup/vitest.setup.ts
  tools/ai/package.json
  uv.lock
Due: prettier, eslint

chore: remove vitest, add test-all/test-e2e recipes, align pnpm 9.15.4
  docs/validation_failures_report.md
  justfile
  nx.json
  package.json
  pnpm-lock.yaml
  tests/generators/meta-generator.test.ts
  tests/setup/vitest.setup.ts
  tools/ai/package.json
  uv.lock
Due: prettier, eslint

chore: upgrade Rust to 1.83.0 for temporal-ai dependencies
  .mise.toml
Due: none

docs: add test coverage baseline, add vector to devbox
  .gitignore
  devbox.json
  docs/reference/test-coverage-baseline.md
  uv.lock
Due: prettier

chore: update devbox.lock and remove obsolete techstack_yaml_format.md
  devbox.lock
  docs/reference/techstack_yaml_format.md
Due: prettier

docs: add end-to-end typing journey to developer guide
  CHANGELOG.md
  docs/guides/developer-user-journeys.md
Due: prettier

fix: improve CI status check in release-preflight to handle false-positive pending states
  scripts/release/release-preflight.sh
Due: none

chore: ignore release temp files
  .gitignore
Due: none

chore: remove release temp files from tracking
  .bump-type
  .next-version
Due: none

chore(release): prepare v0.7.0
  CHANGELOG.md
  Cargo.toml
  package.json
  pyproject.toml
Due: prettier

fix: add --no-verify to release execute script to bypass pre-commit hooks
  scripts/release/execute-release.sh
Due: none

feat(docs): migrate internal docs to shadow stubs with syncing tool
  .gitignore
  justfile
  scripts/dev/bundle-context.sh
  tools/docs/internal_manager.py
Due: none

chore(docs): sanitize stubs to prevent info leakage
  tools/docs/clean_history.py
  tools/docs/internal_manager.py
Due: none

chore(validation): complete Phase 3 journey validation
  docs/guides/developer-user-journeys.md
  justfile
  tools/docs/internal_manager.py
Due: prettier

fix(types): support Supabase Database aliases
  justfile
  tests/unit/test_gen_py_types.py
  tools/scripts/gen_py_types.py
Due: none

chore(repo): ignore journey-e temp dir
  .gitignore
Due: none

fix(release): tolerate gh run list failures
  scripts/release/release-preflight.sh
  tests/shell/scripts/release_preflight_spec.sh
  tests/unit/test_release_preflight.py
Due: none

fix(ci): add uv to test-node job for Python generator tests
  .github/workflows/ci.yml
Due: prettier

fix(tests): read internal maintainer-guide.md when available
  tests/docs/maintainer-docs.test.ts
Due: prettier, eslint

fix(docs): include test-required metadata in maintainer-guide stub
  docs/aiassist/maintainer-guide.md
  tests/docs/maintainer-docs.test.ts
Due: prettier, eslint

fix formatting
  README.md
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.css$, \.scss$, but not: ^(pnpm-lock\.yaml|.*\.j2|tests/fixtures/.*|dist/.*|node_modules/.*|libs/tools/spec-kit/.*)$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, but not: ^(node_modules/|\.nx/|dist/|coverage/|.*\.j2|tests/fixtures/|tools/reference/|templates/|libs/tools/spec-kit/)
