Repository SPRIME01/Vibes-Pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-agent-links, prompt-lint, spec-matrix

eslint:
  name: eslint (pre-commit safe)
  entry: bash -c 'if command -v pnpm >/dev/null 2>&1; then pnpm exec eslint --config .eslintrc.precommit.cjs --fix "$@"; else npx eslint --config .eslintrc.precommit.cjs --fix "$@"; fi' --
  language: system
  require_serial: false

check-agent-links:
  name: Check AGENTS.md links
  entry: node
  args:
  - tools/docs/link_check.js
  language: system
  pass_filenames: false

prompt-lint:
  name: Lint prompt files
  entry: node
  args:
  - tools/prompt/lint.js
  language: system

spec-matrix:
  name: Validate spec matrix
  entry: node
  args:
  - tools/spec/matrix.js
  language: system
  pass_filenames: false

ci(sops): install sops from release; ensure vector data dir; export PyO3 forward-compat during uv sync; apply formatting fixes [DEV-PRD-023]
  .github/chatmodes/spec.wide.chatmode.md
  .github/workflows/build-matrix.yml
  .github/workflows/ci-full.yml
  .github/workflows/env-check.yml
  .github/workflows/sops-decrypt.yml
Due: none

ci: robust snapshot compare; temporarily restrict CI matrix to ubuntu + tolerant just installer fallback; apply pre-commit fixes
  .github/workflows/build-matrix.yml
  .github/workflows/env-check.yml
  tools/test/snapshot.ts
Due: eslint

chore(ci): add psutil to dev deps so pytest temporal tests can import it [DEV-PRD-023]
  pyproject.toml
Due: none

ci: skip sops decrypt when SOPS_AGE_KEY secret is missing (allow PRs/forks to run) [DEV-PRD-023]
  .github/workflows/sops-decrypt.yml
Due: none

ci(env): make env-check tolerant to missing SOPS and create vector tmp dirs [DEV-PRD-023]
  .github/workflows/env-check.yml
Due: none

ci(sops): skip decrypt when SOPS_AGE_KEY missing (PR/fork-safe) and source secrets only if present [DEV-PRD-023]
  .github/workflows/ci-full.yml
Due: none

docs(license): add generator licensing terms
  COMMERCIAL-LICENSE.md
Due: none

ci(env): run ops smoke test under bash to support pipefail in script [DEV-PRD-023]
  .github/workflows/env-check.yml
Due: none

Refactor matrix.js to improve table rendering and update logic
  crates/vibepro-observe/src/lib.rs
  crates/vibepro-observe/tests/otlp_gates.rs
  crates/vibepro-observe/tests/otlp_integration.rs
  crates/vibepro-observe/tests/tracing_init.rs
  docs/traceability_matrix.md
  templates/{{project_slug}}/tools/spec/matrix.js
  temporal_db/lib.rs
  temporal_db/repository.rs
  temporal_db/schema.rs
  tests/security/validation_suite.rs
  tools/spec/matrix.js
Due: eslint, spec-matrix

chore: clean up test files for OTLP feature
  crates/vibepro-observe/Cargo.toml
  crates/vibepro-observe/src/lib.rs
  crates/vibepro-observe/tests/otlp_gates.rs
  crates/vibepro-observe/tests/otlp_integration.rs
  crates/vibepro-observe/tests/tracing_init.rs
  crates/vibepro-observe/tests/tracing_vector.rs
Due: none

feat: add guide for managing SOPS secrets in MCP configs and update dependencies for psutil
  docs/how-to/03_manage_sops_secrets_for_mcp.md
  src/vibes_pro.egg-info/PKG-INFO
  src/vibes_pro.egg-info/requires.txt
  templates/{{project_slug}}/tools/spec/matrix.js
  uv.lock
Due: eslint, spec-matrix

chore(docs): fix AGENT.md spec link to DEV-PRD-042 [DEV-PRD-042]
  dev_prd.md
  docs/AGENT.md
Due: spec-matrix

chore: apply pre-commit auto-fixes (end-of-file, whitespace, formatting)
  .github/workflows/ci-full.yml
  .github/workflows/sops-decrypt.yml
  .secrets.env.sops
  .secrets.env.sops.example
  .sops.yaml
  .vscode/mcp.json
  tools/type-generator/cli.js
Due: eslint

chore(typegen): rename fixture to snake_case user.py & accept snake_case in CLI [DEV-PRD-000]
  tests/.tmp-typegen/verify-mismatch-CkRgK6/py/__init__.py
  tests/.tmp-typegen/verify-mismatch-CkRgK6/ts/User.ts
  tests/.tmp-typegen/verify-missing-tm45Ri/py/__init__.py
  tests/.tmp-typegen/verify-missing-tm45Ri/py/user.py
  tests/.tmp-typegen/verify-missing-tm45Ri/ts/User.ts
  tests/type-generator/verify.test.ts
  tools/type-generator/cli.js
  tools/type-generator/test-fixtures/py/User.py
  tools/type-generator/test-fixtures/py/user.py
Due: eslint

chore(secrets): add sops helper script and docs; shellcheck fixes [DEV-PRD-000]
  docs/how-to/sops-secrets.md
  scripts/run-with-secrets.sh
Due: spec-matrix

chore: ignore local private key file key.txt
  .gitignore
Due: none

chore(env): bump juste tool pin to 1.21.0
  .mise.toml
Due: none

chore(secrets): add .sops.yaml, CI workflow, direnv example, and update docs [DEV-PRD-000]
  .envrc.example
  .github/workflows/sops-decrypt.yml
  .sops.yaml
  docs/how-to/sops-secrets.md
Due: spec-matrix

ci(secrets): add full CI workflow using SOPS and pnpm build/test [DEV-PRD-000]
  .github/workflows/ci-full.yml
Due: none

docs(secrets): add age keypair + GitHub Secrets how-to [DEV-PRD-000]
  docs/how-to/age-and-github-secrets.md
Due: spec-matrix

chore(sops): add just sops-rotate task to re-encrypt and verify [DEV-PRD-000]
  justfile
Due: none

docs: document pre-commit & shfmt setup; add just helper
  .pre-commit-config.yaml
  CONTRIBUTING.md
  justfile
Due: none

chore: run prettier on generated config files (pre-commit)
  .github/chatmodes/spec.wide.chatmode.md
  .github/workflows/ai-guidance.yml
  templates/{{project_slug}}/docs/specs/partials/_metadata_header.j2
Due: none

ci(tests): ignore legacy template duplicates, fix lint failures, simplify duplicate tests [DEV-PRD-023]
  tests/conftest.py
  tests/template/test_template_generation_final.py
  tests/template/test_template_generation_uv.py
Due: none

chore: auto-fix end-of-file whitespace from pre-commit
  docs/typing_summary.md
  docs/work-summaries/typing_handoff_report.md
Due: spec-matrix

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(node_modules/|\.nx/|dist/|coverage/|.*\.j2|tests/fixtures/|tools/reference/|apps/\{\{app_name\}}/)
  check-agent-links: any of: ^AGENTS\.md$
  prompt-lint: any of: ^\.github/prompts/.*\.prompt\.md$
  spec-matrix: any of: ^(docs/.*\.md|\.github/instructions/.*\.md)$
