Repository SPRIME01/Vibes-Pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-agent-links, prompt-lint, spec-matrix

eslint:
  name: eslint
  entry: bash -c 'if command -v pnpm >/dev/null 2>&1; then pnpm exec eslint --fix "$@"; else npx eslint --fix "$@"; fi' --
  language: system
  require_serial: false

check-agent-links:
  name: Check AGENTS.md links
  entry: node
  args:
  - tools/docs/link_check.js
  language: system
  pass_filenames: false

prompt-lint:
  name: Lint prompt files
  entry: node
  args:
  - tools/prompt/lint.js
  language: system

spec-matrix:
  name: Validate spec matrix
  entry: node
  args:
  - tools/spec/matrix.js
  language: system
  pass_filenames: false

chore: apply pre-commit fixes, resolve type errors, mark advice-cli executable
  .github/workflows/ai-guidance.yml
  .github/workflows/build-matrix.yml
  .github/workflows/env-check.yml
  .kilocode/mcp.json
  .pre-commit-config.yaml
  copier.yml
  crates/vibepro-observe/src/lib.rs
  crates/vibepro-observe/tests/tracing_vector.rs
  docs/dev_prd.md
  docs/dev_technical-specifications.md
  docs/traceability_matrix.md
  docs/work-summaries/observability-phase3-completion.md
  docs/work-summaries/pr-27-all-fixes-summary.md
  docs/work-summaries/pre-commit-secret-scanner-enhancement.md
  domain/domain.yaml
  libs/prompt-optimizer/application/use_cases.py
  libs/prompt-optimizer/domain/entities.py
  libs/prompt-optimizer/pyproject.toml
  ops/vector/README.md
  scripts/just
  temporal_db/python/export_recommendations.py
  temporal_db/python/patterns.py
  temporal_db/python/repository.py
  tests/context/test_context_manager_scoring.spec.ts
  tests/ops/test_log_redaction.sh
  tests/perf/test_performance_advisories.spec.ts
  tests/temporal/test_pattern_recommendations.py
  tools/ai/advice-cli.ts
  tools/ai/src/context-manager.ts
  tools/docs/link_check.js
  tools/performance/monitor.ts
Due: eslint, spec-matrix

chore: clean up mcp.json, update observability summary for technical debt, and add link checker script
  .kilocode/mcp.json
  .vscode/settings.json
  docs/work-summaries/observability-complete-summary.md
  scripts/doctor.sh
  tools/check_agent_links.py
Due: spec-matrix

ci: ensure 'uv' is installed before running uv sync in build matrix
  .github/workflows/build-matrix.yml
Due: none

fix: update test-generation task to work with generated template
  justfile
Due: none

fix: resolve pre-commit hook failures for PR #31
  cli/docs.js
  docs/knowledgebase/archive/wiki/v1/overview.md
  docs/wiki/v1/overview.md
  hooks/__init__.py
  justfile
  scripts/copier.mjs
  scripts/normalize_chatmodes.js
  scripts/normalize_chatmodes.mjs
  scripts/plan_techstack.sh.j2
  scripts/sync_techstack.sh.j2
  templates/tools/prompt-optimizer/hooks/post_gen.py.j2
  templates/tools/prompt-optimizer/hooks/pre_gen.py.j2
  templates/tools/prompt-optimizer/measure_tokens.sh.j2
  templates/tools/prompt-optimizer/measure_tokens_enhanced.py.j2
  templates/{{project_slug}}/hooks/post_gen.py.j2
  tools/docs/run_generator.js
  tools/logging/pino-quickstart.js
  tools/test/node-smoke.cjs
  tools/test/run_node_tests.js
  tools/test/run_node_tests.ts
  tools/type-generator/cli.js
Due: eslint, spec-matrix

fix(ci): install pytest after pip upgrade and use sudo for Vector install
  .github/workflows/ai-guidance.yml
  .github/workflows/env-check.yml
Due: none

fix(ci): avoid secret interpolation in workflows; fix script lint errors [DEV-PRD-031]
  .github/workflows/build-matrix.yml
  .github/workflows/env-check.yml
  .github/workflows/semgrep.yml
  scripts/normalize_chatmodes.js
  scripts/normalize_chatmodes.mjs
Due: eslint

fix: resolve failing GitHub Actions workflows
  .github/workflows/ai-guidance.yml
  .github/workflows/ci.yml
  .github/workflows/env-check.yml
  docs/traceability_matrix.md
  docs/work-summaries/ci-fix-2025-10-14.md
Due: spec-matrix

test: add workflow_dispatch to integration-tests for hanging issue investigation
  .gemini/settings.json.orig
  .github/workflows/integration-tests.yml
  docs/dev_adr.md
  docs/dev_prd.md
  docs/dev_sds.md
  docs/tdd_unified_type_system_plan.md
  docs/traceability_matrix.md
  templates/{{project_slug}}/.github/chatmodes/generator-spec.chatmode.md
  templates/{{project_slug}}/.github/prompts/generator-spec.prompt.md
  templates/{{project_slug}}/docs/specs/generators/GENERATOR_SPEC.md
  templates/{{project_slug}}/docs/specs/generators/data-access.generator.spec.md
  templates/{{project_slug}}/docs/specs/generators/feature-slice.generator.spec.md
  templates/{{project_slug}}/docs/specs/generators/route-contract.generator.spec.md
Due: spec-matrix

feat: Add product specification index and technical specifications templates
  templates/{{project_slug}}/.github/chatmodes/spec.wide.chatmode.md
  templates/{{project_slug}}/.github/copilot-instructions.md.j2
  templates/{{project_slug}}/.github/prompts/tdd-plan.prompt.md
  templates/{{project_slug}}/docs/explanation/02_vibepro_workflow.md
  tests/integration/template-docs.test.ts
Due: eslint

build(pyproject): require newer setuptools for py312
  pyproject.toml
Due: none

docs(ai): update copilot instructions — clarify environment inheritance for generated projects [DEV-SDS-001]
  .github/copilot-instructions.md
Due: none

chore(spec): update traceability matrix generated by pre-commit spec-matrix
  docs/traceability_matrix.md
Due: spec-matrix

chore: normalize fixture module name and set exec bits for scripts [DEV-PRD-023]
  .pre-commit-config.yaml
  libs/prompt_optimizer/application/__init__.py
  libs/prompt_optimizer/domain/__init__.py
  libs/prompt_optimizer/infrastructure/__init__.py
  pyproject.toml
  tools/type-generator/test-fixtures/py/user.py
Due: none

chore: set exec bit for templated scripts and quickstart helpers
  libs/prompt_optimizer/__init__._backup.py
  src/vibes_pro.egg-info/PKG-INFO
  src/vibes_pro.egg-info/requires.txt
Due: none

chore(docs): add Python dev tools quickstart, ignore .venv; fix mypy helper and agent links [DEV-PRD-042]
  .gitignore
  .pre-commit-config.yaml
  docs/AGENT.md
  docs/QUICKSTART.md
  tools/check_agent_links.py
  tools/check_mypy.sh
Due: spec-matrix

chore: mark sample scripts executable where shebang present
  package.json
  tests/.tmp-typegen/verify-mismatch-CkRgK6/py/__init__.py
  tests/.tmp-typegen/verify-mismatch-CkRgK6/py/user.py
  tests/.tmp-typegen/verify-mismatch-CkRgK6/ts/User.ts
  tests/.tmp-typegen/verify-missing-tm45Ri/py/__init__.py
  tests/.tmp-typegen/verify-missing-tm45Ri/py/user.py
  tests/.tmp-typegen/verify-missing-tm45Ri/ts/User.ts
  tools/type-generator/cli.js
  tools/type-generator/test-fixtures/py/User.py
Due: eslint

chore: mark scripts with shebang executable to satisfy pre-commit
  README.md
  docs/AGENT.md
  docs/ENVIRONMENT.md
Due: spec-matrix

chore: update copilot instructions with embedded redb database details and MCP integrations
  .github/copilot-instructions.md
Due: none

chore(docs): update Vector configuration in README for local observability pipeline with PII redaction and logging enhancements
  docs/observability/README.md
Due: spec-matrix

chore(docs): fix AGENT.md spec link to DEV-PRD-042 [DEV-PRD-042]
  dev_prd.md
  docs/AGENT.md
Due: spec-matrix

chore(typegen): rename fixture to snake_case user.py & accept snake_case in CLI [DEV-PRD-000]
  tests/.tmp-typegen/verify-mismatch-CkRgK6/py/__init__.py
  tests/.tmp-typegen/verify-mismatch-CkRgK6/ts/User.ts
  tests/.tmp-typegen/verify-missing-tm45Ri/py/__init__.py
  tests/.tmp-typegen/verify-missing-tm45Ri/py/user.py
  tests/.tmp-typegen/verify-missing-tm45Ri/ts/User.ts
  tests/type-generator/verify.test.ts
  tools/type-generator/cli.js
  tools/type-generator/test-fixtures/py/User.py
  tools/type-generator/test-fixtures/py/user.py
Due: eslint

chore(env): bump juste tool pin to 1.21.0
  .mise.toml
Due: none

chore(secrets): add sops helper script and docs; shellcheck fixes [DEV-PRD-000]
  docs/how-to/sops-secrets.md
  scripts/run-with-secrets.sh
Due: spec-matrix

chore(secrets): add .sops.yaml, CI workflow, direnv example, and update docs [DEV-PRD-000]
  .envrc.example
  .github/workflows/sops-decrypt.yml
  .sops.yaml
  docs/how-to/sops-secrets.md
Due: spec-matrix

ci(secrets): add full CI workflow using SOPS and pnpm build/test [DEV-PRD-000]
  .github/workflows/ci-full.yml
Due: none

chore: ignore local private key file key.txt
  .gitignore
Due: none

docs(secrets): add age keypair + GitHub Secrets how-to [DEV-PRD-000]
  docs/how-to/age-and-github-secrets.md
Due: spec-matrix

chore(sops): add just sops-rotate task to re-encrypt and verify [DEV-PRD-000]
  justfile
Due: none

chore: apply pre-commit auto-fixes (end-of-file, whitespace, formatting)
  .github/workflows/ci-full.yml
  .github/workflows/sops-decrypt.yml
  .secrets.env.sops
  .secrets.env.sops.example
  .sops.yaml
  .vscode/mcp.json
  tools/type-generator/cli.js
Due: eslint

chore: add editorconfig, prettier hook; add optional local shfmt hook; update traceability matrix
  .pre-commit-config.yaml
Due: none

docs: document pre-commit & shfmt setup; add just helper
  .pre-commit-config.yaml
  CONTRIBUTING.md
  justfile
Due: none

chore(tests): stabilize template tests, skip legacy duplicates, install psutil, adjust test runner [DEV-PRD-023]
  .gemini/settings.json
  .github/bak_copilot-instructions.md
  .mise.toml
  CONTRIBUTING.md
  justfile
  scripts/devbox_boot.sh
  templates/{{project_slug}}/.github/copilot-instructions.md
  templates/{{project_slug}}/Cargo.toml
  templates/{{project_slug}}/Dockerfile
  templates/{{project_slug}}/docs/README.md
  templates/{{project_slug}}/docs/how-to/ai-onboarding.md
  templates/{{project_slug}}/docs/partials/_metadata_header
  templates/{{project_slug}}/docs/security/ENCRYPTION.md
  templates/{{project_slug}}/docs/specs/adr.md
  templates/{{project_slug}}/docs/specs/commit_message_guidelines.md
  templates/{{project_slug}}/docs/specs/prd.md
  templates/{{project_slug}}/docs/specs/sds.md
  templates/{{project_slug}}/docs/specs/spec_index.md
  templates/{{project_slug}}/docs/specs/technical-specifications.md
  templates/{{project_slug}}/docs/specs/traceability_matrix.md
  templates/{{project_slug}}/hooks/post_gen.py
  templates/{{project_slug}}/package.json
  templates/{{project_slug}}/pyproject.toml
  templates/{{project_slug}}/tests/security/validation_suite.rs
  tests/conftest.py
  tests/template/test_template_generation.py
  tests/template/test_template_generation_final.py
  tests/template/test_template_generation_run.py
  tests/template/test_template_generation_userdata2.py
  tests/template/test_template_generation_uv.py
Due: none

ci(tests): ignore legacy template duplicates, fix lint failures, simplify duplicate tests [DEV-PRD-023]
  tests/conftest.py
  tests/template/test_template_generation_final.py
  tests/template/test_template_generation_uv.py
Due: none

chore: run prettier on generated config files (pre-commit)
  .github/chatmodes/spec.wide.chatmode.md
  .github/workflows/ai-guidance.yml
  templates/{{project_slug}}/docs/specs/partials/_metadata_header.j2
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(node_modules/|\.nx/|dist/|coverage/|.*\.j2|tests/fixtures/|tools/reference/)$
  check-agent-links: any of: ^AGENTS\.md$
  prompt-lint: any of: ^\.github/prompts/.*\.prompt\.md$
  spec-matrix: any of: ^(docs/.*\.md|\.github/instructions/.*\.md)$
