Repository SPRIME01/Vibes-Pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-agent-links, prompt-lint, spec-matrix

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(node_modules/|\.nx/|dist/|coverage/|.*\.j2|tests/fixtures/|tools/reference/|apps/\{\{app_name\}}/)
  check-agent-links: any of: ^AGENTS\.md$
  prompt-lint: any of: ^\.github/prompts/.*\.prompt\.md$
  spec-matrix: any of: ^(docs/.*\.md|\.github/instructions/.*\.md)$

chore: add editorconfig, prettier hook; add optional local shfmt hook; update traceability matrix
  .pre-commit-config.yaml
Due: none

chore(tests): stabilize template tests, skip legacy duplicates, install psutil, adjust test runner [DEV-PRD-023]
  .gemini/settings.json
  .github/bak_copilot-instructions.md
  .mise.toml
  CONTRIBUTING.md
  justfile
  scripts/devbox_boot.sh
  templates/{{project_slug}}/.github/copilot-instructions.md
  templates/{{project_slug}}/Cargo.toml
  templates/{{project_slug}}/Dockerfile
  templates/{{project_slug}}/docs/README.md
  templates/{{project_slug}}/docs/how-to/ai-onboarding.md
  templates/{{project_slug}}/docs/partials/_metadata_header
  templates/{{project_slug}}/docs/security/ENCRYPTION.md
  templates/{{project_slug}}/docs/specs/adr.md
  templates/{{project_slug}}/docs/specs/commit_message_guidelines.md
  templates/{{project_slug}}/docs/specs/prd.md
  templates/{{project_slug}}/docs/specs/sds.md
  templates/{{project_slug}}/docs/specs/spec_index.md
  templates/{{project_slug}}/docs/specs/technical-specifications.md
  templates/{{project_slug}}/docs/specs/traceability_matrix.md
  templates/{{project_slug}}/hooks/post_gen.py
  templates/{{project_slug}}/package.json
  templates/{{project_slug}}/pyproject.toml
  templates/{{project_slug}}/tests/security/validation_suite.rs
  tests/conftest.py
  tests/template/test_template_generation.py
  tests/template/test_template_generation_final.py
  tests/template/test_template_generation_run.py
  tests/template/test_template_generation_userdata2.py
  tests/template/test_template_generation_uv.py
Due: none

chore(ci): add psutil to dev deps so pytest temporal tests can import it [DEV-PRD-023]
  pyproject.toml
Due: none

ci(env): make env-check tolerant to missing SOPS and create vector tmp dirs [DEV-PRD-023]
  .github/workflows/env-check.yml
Due: none

chore: update copilot instructions to clarify usage of summaries after problem resolution or milestone completion
  .github/copilot-instructions.md
Due: none

Refactor code structure for improved readability and maintainability
  .secrets.env.sops
  docs/branching.md
  docs/dev_adr.md
  docs/dev_prd.md
  docs/dev_sds.md
  docs/dev_tdd.md
  docs/traceability_matrix.md
  libs/python/vibepro_logging.py
  pyproject.toml
  src/vibes_pro.egg-info/PKG-INFO
  src/vibes_pro.egg-info/requires.txt
  tests/python/__init__.py
  tests/python/test_logfire_bootstrap.py
  uv.lock
Due: spec-matrix

Fix CodeRabbit review issues
  .gitignore
  .secrets.env.sops
  .sops.yaml
  src/vibes_pro.egg-info/PKG-INFO
  src/vibes_pro.egg-info/SOURCES.txt
  src/vibes_pro.egg-info/dependency_links.txt
  src/vibes_pro.egg-info/requires.txt
  src/vibes_pro.egg-info/top_level.txt
Due: none

Update documentation for structured logging and trace correlation; refine descriptions and add future design notes
  docs/branching.md
  docs/dev_adr.md
  docs/dev_prd.md
  docs/dev_sds.md
  docs/dev_tdd.md
  docs/traceability_matrix.md
Due: spec-matrix

Add CI workflow for AI validation and implement Logfire smoke test
  .github/copilot-instructions.md
  .github/workflows/ai-validate.yml
  apps/observe-smoke/Cargo.lock
  docs/dev_tdd.md
  docs/observability/README.md
  justfile
  tests/ops/test_log_redaction.sh
  tests/ops/test_log_trace_correlation.sh
  tools/logging/test_logfire.py
Due: spec-matrix

Fix fragile path traversal in tools/logging/test_logfire.py
  tools/logging/test_logfire.py
Due: none

Refine Logfire documentation and templates; implement logging environment variable scaffolding and update test cases
  docs/dev_adr.md
  docs/dev_prd.md
  docs/dev_sds.md
  docs/dev_tdd.md
  docs/traceability_matrix.md
  justfile
  libs/python/vibepro_logging.py
  templates/{{project_slug}}/.github/prompts/tdd-tbd.prompt.md
  templates/{{project_slug}}/docs/_includes/env_vars.md.j2
  templates/{{project_slug}}/docs/observability/logging.md.j2
  tests/copier/test_logfire_template.py
  tests/python/__init__.py
  tests/python/test_logfire_bootstrap.py
Due: spec-matrix

feat: Update Logfire integration and improve documentation
  .github/workflows/ai-validate.yml
  docs/branching.md
  docs/dev_adr.md
  docs/dev_prd.md
  docs/dev_sds.md
  docs/traceability_matrix.md
  justfile
  libs/python/logging_settings.py
  libs/python/vibepro_logging.py
  pyproject.toml
  tests/python/test_logfire_bootstrap.py
  tests/python/test_logfire_context.py
  tests/python/test_logfire_integrations.py
  tools/logging/test_logfire.py
  uv.lock
  vector_install.sh
Due: spec-matrix

feat: Mark Phase 1 as complete in TDD plan
  docs/dev_tdd.md
Due: spec-matrix

feat(observability): Add Logfire dashboard and metrics integration
  .github/copilot-instructions.md
  .github/instructions/logging.instructions.md
  .secrets.env.sops
  docs/ENVIRONMENT.md
  docs/dev_tdd.md
  docs/observability/README.md
  docs/observability/dashboards/logfire.json
  docs/traceability_matrix.md
  justfile
  ops/openobserve/.env.example
  ops/openobserve/.token_seed
  ops/openobserve/.token_seed.lock
  ops/openobserve/README.md
  ops/openobserve/buildx/.buildNodeID
  ops/openobserve/buildx/.lock
  ops/openobserve/buildx/activity/default
  ops/openobserve/buildx/current
  ops/openobserve/buildx/refs/__group__/dmq2ryewpx6erjlvkat8g59xa
  ops/openobserve/buildx/refs/default/default/um4ts2hu38k3pq2ebydj2p814
  ops/openobserve/buildx/refs/version
  ops/openobserve/config/.gitkeep
  ops/openobserve/docker-compose.yml
  ops/openobserve/docker-config.json
  ops/openobserve/run-with-secrets.sh
  ops/vector/vector.toml
  templates/{{project_slug}}/docs/observability/logging.md.j2
  tests/observability/test_logfire_metrics.py
  tests/ops/test_vector_logfire.sh
  tests/ops/test_vector_logs_config.sh
  tools/docs/lint_check.py
  tools/docs/lint_config.json
  tools/observability/schema.json
  tools/vector/macros.vrl
  tools/vector/traces_sanitize.vrl
Due: spec-matrix

Potential fix for code scanning alert no. 39: Workflow does not contain permissions
  .github/workflows/ai-validate.yml
Due: none

Enhance Logfire integration and observability features
  .gitignore
  .secrets.env.sops
  docs/dev_adr.md
  docs/dev_prd.md
  docs/dev_sds.md
  justfile
  libs/python/logging_settings.py
  libs/python/vibepro_logging.py
  ops/openobserve/.env.example
  ops/openobserve/.token_seed
  ops/openobserve/README.md
  ops/openobserve/buildx/.buildNodeID
  ops/openobserve/docker-compose.yml
  ops/openobserve/run-with-secrets.sh
  ops/vector/transforms/logs_enrich.vrl
  ops/vector/transforms/logs_logfire_normalize.vrl
  ops/vector/transforms/logs_redact_pii.vrl
  ops/vector/transforms/metrics_logfire_enrich.vrl
  ops/vector/transforms/metrics_logfire_extract.vrl
  ops/vector/vector.toml
  tests/observability/test_logfire_metrics.py
  tests/ops/test_log_trace_correlation.sh
  tests/ops/test_vector_logfire.sh
  tests/ops/test_vector_logs_config.sh
  tests/python/test_logfire_bootstrap.py
  tests/python/test_logfire_integrations.py
  tools/docs/lint_check.py
  tools/observability/schema.json
  tools/vector/macros.vrl
Due: spec-matrix

feat(secrets): Update Logfire token and enhance SOPS management documentation
  .secrets.env.sops
  docs/how-to/03_manage_sops_secrets_for_mcp.md
  docs/how-to/age-and-github-secrets.md
Due: spec-matrix

feat(tests): Enhance copier template fixture to handle clean working trees and allow empty commits
  tests/conftest.py
Due: none

feat(tests): Update SOPS decryption commands to specify input and output types; enhance pytest-copier integration in tests
  .github/workflows/build-matrix.yml
  .github/workflows/ci-full.yml
  .github/workflows/env-check.yml
  .github/workflows/sops-decrypt.yml
  tests/conftest.py
  tests/copier/test_logfire_template.py
  tests/template/test_template_generation.py
Due: none

fix(run-with-secrets): Improve REPO_ROOT determination to handle different working directories
  ops/openobserve/run-with-secrets.sh
Due: none

feat(workflows): Add IS_FORK and SOPS_LOADED environment variables for pull request handling; update .gitignore for template .env file
  .github/workflows/build-matrix.yml
  .github/workflows/ci-full.yml
  .github/workflows/env-check.yml
  .gitignore
Due: none

refactor(docker-compose): Simplify environment variable defaults and remove healthcheck configuration
  ops/openobserve/docker-compose.yml
Due: none

fix(ci): escape GitHub context in generation smoke template
  templates/{{project_slug}}/.github/workflows/generation-smoke-tests.yml.j2
Due: none

feat(workflows): update Node.js version to 20.11.1 across CI configurations; enhance error handling in post-generation setup
  .github/workflows/build-matrix.yml
  .github/workflows/ci-full.yml
  .github/workflows/ci.yml
  .github/workflows/node-tests.yml
  .secrets.env.sops
  .vscode/mcp.json
  docs/how-to/03_manage_sops_secrets_for_mcp.md
  hooks/post_gen.py
  jest.config.json
Due: spec-matrix

fix(ci): fix build-matrix workflow shell syntax and SOPS configuration
  .github/workflows/build-matrix.yml
Due: none

fix(ci): resolve issues in build-matrix workflow
  .github/copilot-instructions.md
  docs/work-summaries/ci-workflow-fixes-20251101.md
Due: spec-matrix

chore(ci): trigger workflow re-run
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: none

test(docs): relax maintainer checklist parsing to allow variable spacing [AI_PRD-002]
  nx.json
  tests/docs/maintainer-docs.test.ts
Due: eslint

Potential fix for pull request finding 'Unused variable, import, function or class'
  templates/{{project_slug}}/tools/audit/env_audit.js
Due: eslint

Potential fix for pull request finding 'Unused variable, import, function or class'
  templates/{{project_slug}}/tools/test/node-smoke.cjs
Due: eslint

Potential fix for pull request finding 'Unused variable, import, function or class'
  tests/integration/generated-ci-regression.test.ts
Due: eslint

fix(templates): properly escape GitHub Actions syntax in Jinja2 templates
  .github/workflows/ai-generate.yml.j2
  templates/{{project_slug}}/.github/workflows/ai-generate.yml.j2
Due: none

fix(templates): escape all GitHub Actions variables in Jinja2 workflow templates
  templates/{{project_slug}}/.github/workflows/build-matrix.yml.j2
  templates/{{project_slug}}/.github/workflows/ci.yml.j2
  templates/{{project_slug}}/.github/workflows/docs-generator.yml.j2
  templates/{{project_slug}}/.github/workflows/env-check.yml.j2
  templates/{{project_slug}}/.github/workflows/integration-tests.yml.j2
Due: none

fix(tests): convert Vitest imports to Jest globals
  nx.json
  tests/context/test_context_manager_scoring.spec.ts
  tests/perf/test_performance_advisories.spec.ts
Due: eslint

style(nx.json): format JSON for better readability
  tests/perf/test_performance_advisories.spec.ts
Due: eslint

fix(templates): properly escape GitHub Actions variables in workflow templates
  templates/{{project_slug}}/.github/workflows/build-matrix.yml.j2
  templates/{{project_slug}}/.github/workflows/docs-generator.yml.j2
  templates/{{project_slug}}/.github/workflows/env-check.yml.j2
  templates/{{project_slug}}/.github/workflows/integration-tests.yml.j2
Due: none

fix(logging): update import path for environment variables in logging template
  templates/{{project_slug}}/docs/observability/logging.md.j2
Due: none

fix(templates): correct Jinja2 import path in logging.md.j2
  templates/{{project_slug}}/docs/observability/logging.md.j2
Due: none
